In [33]:
import pandas as pd

In [34]:
df_usc_topic = pd.read_csv ('usc_topic.csv', usecols = ["Section", "Topics"])
df_usc_topic.columns = ["USC_SECTION", "Topics"]
df_usc_topic.head()

  USC_SECTION  Topics
0           1       5
1           2      -1
2           3      -1
3           4       3
4           5      14

In [35]:
df_usc_sections = pd.read_csv ('usc_sections.csv')
df_usc_sections.columns = ["USC_SECTION", "CFR_TITLE", "CFR_PART"]
# df_usc_sections = df_usc_sections.loc[df_usc_sections["CFR_TITLE"] == 26]
df_usc_sections.head()

  USC_SECTION  CFR_TITLE CFR_PART
0          62         26      509
1          62         26      513
2          62         26      520
3          62         26      521
4         143         26      521

In [36]:
df_cfr_topic = pd.read_csv('cfr_topic.csv', usecols = ["PartNo", "Topics"])
df_cfr_topic.columns = ["CFR_PART", "Topics"]
df_cfr_topic.head()

  CFR_PART  Topics
0        1       4
1       11      -1
2       12      -1
3       13       0
4      141      -1

In [37]:
merged_df = df_usc_topic.merge(df_usc_sections, on='USC_SECTION').merge(df_cfr_topic, on='CFR_PART')

new_df = merged_df[['USC_SECTION', 'Topics_x', 'CFR_TITLE', 'CFR_PART', 'Topics_y']]

new_df.columns = ['USC_SECTION', 'USC_SECTION_Topics', 'CFR_TITLE', 'CFR_PART', 'CFR_PART_Topics']

# Print the new dataframe
# print(new_df.head(50))
new_df = new_df.sort_values('USC_SECTION')
new_df.head(50)

    USC_SECTION  USC_SECTION_Topics  CFR_TITLE CFR_PART  CFR_PART_Topics
0             1                   5         26        1                4
24          101                  11         26        1                4
155        1017                  18         26        1                4
25          103                   6         26        1                4
306         103                   6         26       5f               -1
156        1032                   0         26        1                4
26         103A                  12         26        1                4
309        103A                  12         26       6a               -1
157        1059                   0         26        1                4
158        1060                  -1         26        1                4
27          108                  -1         26        1                4
159        1092                  -1         26        1                4
28          110                  15         26        1                4
160        1202                  -1         26        1                4
161        1221                   0         26        1                4
162        1244                  -1         26        1                4
163        1248                   0         26        1                4
164        1254                   8         26        1                4
165        1275                   6         26        1                4
166        1286                   6         26        1                4
167        1288                  -1         26        1                4
29          129                  26         26        1                4
168        1291                  -1         26        1                4
169        1293                  -1         26        1                4
171        1298                  -1         26        1                4
170        1298                  -1         26        1                4
172        1301                  -1         26        1                4
30          132                  -1         26        1                4
173        1361                  -1         26        1                4
174        1368                  -1         26        1                4
175        1374                  -1         26        1                4
176        1377                  -1         26        1                4
177        1378                   3         26        1                4
367        1391                  -1          7       25               24
178       1397D                  -1         26        1                4
179       1397E                  12         26        1                4
180        1402                  -1         26        1                4
258         143                  -1         26      521               14
259         144                   6         26      521               14
262        1441                  14         26       31               -1
181        1441                  14         26        1                4
182        1443                  -1         26        1                4
183        1445                   9         26        1                4
184        1471                   9         26        1                4
185        1472                  -1         26        1                4
186        1473                  -1         26        1                4
187        1474                  -1         26        1                4
31          148                   6         26        1                4
32          149                   6         26        1                4
33          150                   6         26        1                4